In [1]:
import pandas as pd

In [2]:
data1 = [
    [67, 93, 91, 88],
    [75, 69, 96, 69],
    [75, 81, 74, 82],
    [96, 65, 84, 66],
    [79, 70, 76, 75],
    [62, 99, 87, 76],
]

In [3]:
idx1 = ['송중기', '김나현', '권보아', '박효신', '김범수', '이효리']
col1 = ['국어', '영어', '수학', '과학']

In [6]:
df1 = pd.DataFrame(data1, index=idx1, columns=col1)
df1

     국어  영어  수학  과학
송중기  67  93  91  88
김나현  75  69  96  69
권보아  75  81  74  82
박효신  96  65  84  66
김범수  79  70  76  75
이효리  62  99  87  76

In [7]:
df1.values

array([[67, 93, 91, 88],
       [75, 69, 96, 69],
       [75, 81, 74, 82],
       [96, 65, 84, 66],
       [79, 70, 76, 75],
       [62, 99, 87, 76]])

In [8]:
df1.index

Index(['송중기', '김나현', '권보아', '박효신', '김범수', '이효리'], dtype='object')

In [9]:
df1.columns

Index(['국어', '영어', '수학', '과학'], dtype='object')

In [10]:
df1 > 80

        국어     영어     수학     과학
송중기  False   True   True   True
김나현  False  False   True  False
권보아  False   True  False   True
박효신   True  False   True  False
김범수  False  False  False  False
이효리  False   True   True  False

In [11]:
data_k = [67, 75, 75, 96, 79, 62]
s1 = pd.Series(data_k, index=idx1)
s1

송중기    67
김나현    75
권보아    75
박효신    96
김범수    79
이효리    62
dtype: int64

In [12]:
s1 > 80

송중기    False
김나현    False
권보아    False
박효신     True
김범수    False
이효리    False
dtype: bool

In [14]:
data2 = [
    [67,93,91],
    [75,69,96],
    [75,81,74],
    [96,65,84],
]
df2 = pd.DataFrame(data2, list('ABCD'), ['국어', '영어', '수학'])
df2 > 80

      국어     영어     수학
A  False   True   True
B  False  False   True
C  False   True  False
D   True  False   True